---
device_credentials:
  SW-D-DEIE: { password: admin, enable: admin }
  SW-A-DEIE: { password: admin, enable: admin }
  SW-D-DCEE: { password: admin, enable: admin }
  SW-A-DCEE: { password: admin, enable: admin }
  SW-D-DMME: { password: admin, enable: admin }
  SW-A-DMME: { password: admin, enable: admin }
  SW-A-DIS: { password: admin, enable: admin }
  SW-CORE: { password: admin, enable: admin }
